<div class="scrollable">
	<div class="scrollable-content" style="padding: 0 0px 0px;">
  		<!--<div class="subHeader"><h2><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a>{{title}}</h2></div> -->
  		<span ng-show="!loader">
  		<div><img src="img/app-promo.png" class="img-responsive"></div>
		<p></p>	
		
    		<accordion close-others="true" >
                  <accordion-group  is-open="isopen" ng-repeat="item in items" >
                      <accordion-heading >
                        {{item.desc}}
                          <i class="pull-right fa" 
                                ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen}"></i>
                      </accordion-heading>
                      <p  style="text-align:justify" ng-bind-html = "item.information| html" ></p>
                  </accordion-group>
			</accordion>
    		</span>
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>
	</div>
</div>


