<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
	
  	<div class="fullimg"><img src="img/app-promo.png" class="img-responsive"></div>
  	
  	<form  role="form" name="contactform" novalidate style="margin-bottom:50px;">
  	<p></p>
  		<div class="form-group">
    		<label for="inputName" class="col-sm-2 control-label">Name</label>
   	   	<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputName3" name="name" placeholder="* Enter Your Full Name" ng-model="formInfo.name" required ng-blur="errorfun('1')">
				  			
    			</div>
    			 <span  class= "inerror col-sm-12" ng-show="contactform.name.$error.required && nameerror">Please enter the Name</span>
  		</div>	
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
    		<div class="col-sm-12">
      		<input type="email" class="form-control col-sm-4 formpadd" id="inputEmail3" placeholder="* Enter Your Email Address" name ="email" ng-model="formInfo.email" required ng-blur="errorfun('2')">      		
    		</div>
    			<span   class= "inerror  col-sm-12" ng-show="contactform.email.$invalid && emailerror">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Contact</label>
    		<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputEmail4" placeholder="* Enter Your Contact" name ="contact" ng-model="formInfo.contact" required ng-blur="errorfun('3')">      		
    		</div>
    			<span   class= "inerror  col-sm-12" ng-show="contactform.contact.$error.required && contacterror">Please enter Your contact number.</span>
  		</div>
  		<div class="form-group">
    		<label for="inputSubject3" class="col-sm-2 control-label">Subject</label>
    		<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputSubject3" placeholder="* Enter Subject" name="subject" ng-model="formInfo.subject" required ng-blur="errorfun('4')">
				    		
    		</div>
    		 <span   class= "inerror col-sm-12" ng-show="contactform.subject.$error.required && subjecterror">Please enter the Subject</span>
  		</div> 
  		<div class="form-group">
    		<label for="inputMessage" class="col-sm-2 control-label">Message</label>
    		<div class="col-sm-12">
    			<textarea class="form-control col-sm-4 formpadd"  placeholder="* Enter Message" id="inputMessage3" ng-model="formInfo.message" name="message" rows="3" required ng-blur="errorfun('5')"></textarea>
      		  
    		</div>
    		<span  class= "inerror col-sm-12" ng-show="contactform.message.$error.required &&  messageerror">Please enter the Message</span>
  		</div>
  		<div class="form-group">
    		<div class=" col-sm-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color col-sm-2" ng-click="formInfo.submitTheForm()" ng-disabled="contactform.$invalid">Send Message</button>
    		</div>
  		</div>
  		
	</form>
	</span>
  	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>	

  	</div>
</div>
