<div class="scrollable">
  	<div class="scrollable-content home">
  			
  		<div class="fullimg"><img src="img/app-frontlogo-anantta.png" class="img-responsive"></div>
  		
		<p>&nbsp;</p>
  		<div>
  			<h3 class='home-content'><b>Newly Launched</b></h3>
			<p class='home-tag'><strong>Spacious, Classy, Sensuous</strong></p>
			<p class='home-tag'>
			A step towards new aspirations, promises and celebrations.
At shreepad Anantta, you appreciate the fact that you have reached the destination.
Elegant and beautifully designed, it justified your hard earned money.
			</p>
  		</div>
  		
		<div class="fullimg"><img src="img/app-front-slogan.png" class="img-responsive"></div>

  		
  	</div>
</div>




