<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
  	
  	<div class="fullimg imgPlace"><img class="img-responsive"  src="{{projectDetail.gallery}}{{imgappend}}" alt="{{projectDetail.title}}" >
  	<div class="navbar navbar-app" style="margin-top:-36px">
    		<div class="btn-group justified" >
    		    	<a ng-show="projectDetail.overview.length != 0"    ng-click="changeview('overview')" class="btn btn-navbar sub-tab" ng-class="{tabactive : doverview}" >Overview</a>
			<a class="btn btn-navbar sub-tab" href='' ng-click="projectgallery(projectDetail.id)"><i class="fa fa-camera"></i></a>
    			<a ng-show="projectDetail.floorplan.length != 0" class="btn btn-navbar sub-tab " ng-click="changeview('floorplan')" ng-class="{tabactive : dfloorplan}"><i class="fa fa-building-o"></i></a>
    			<a ng-show="projectDetail.location.length != 0" class="btn btn-navbar sub-tab " ng-click="changeview('location')" ng-class="{tabactive : dlocation}" ><i class="fa fa-map-marker"></i></a>
    			<a ng-show="projectDetail.brochure != ''" class="btn btn-navbar sub-tab " ng-click="changeview('brochure')" ng-class="{tabactive : dbrochure}" ><i class="fa fa-file-pdf-o"></i></a>
    			
    			<a class="btn btn-navbar sub-tab" ng-click="changeview('share')" ng-class="{tabactive : dshare}" ><i class="fa fa-share-alt " ></i></a>
    		</div>
    		
  	</div>   
  	
  	</div>
   
	
  	
		
		<!--<p id='overviewid' ng-bind-html="projectDetail.overview|html"></p> -->
		<div ng-show="doverview" >
		
		<accordion close-others="true" >
                  <accordion-group  is-open="isopen" ng-repeat="item in items" >
                      <accordion-heading >
                        {{item.desc}}
                          <i class="pull-right fa" 
                                ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen}"></i>
                      </accordion-heading>
                      <p  style="text-align:justify" ng-bind-html = "item.information| html" ></p>
                  </accordion-group>
			</accordion>
		</div>		
 	
 	<!-- end overview -->
 	
 	<!-- location -->
 	<div ng-show="dlocation" >
 		<a href="" >
 		<span ng-click="downloaddata(projectDetail.location)" class="pull-right">[Download]</span><br>
 		<div class="imgPlace"><img class="img-responsive" src="{{projectDetail.location}}{{imgappend}}" alt="{{projectDetail.title}}" >
		</div> 		
 		</a>
 	</div>
 	<!-- end location -->
 	
 	
 	<div ng-show="dbrochure">
 		<img src="img/progressbar.gif" style="align:center;">
 		<p ng-show="!downloading">{{downloadmsg}}</p>
	</div>

	 <!-- end brochure -->
	 <!--floor plan-->
	<div ng-show="dfloorplan" class="list-group cards" ng-repeat="floors in floorarray">
	  	<a href="" class="list-group-item active">
		  
		<div class="imgPlace"><img class="img-responsive" src="{{floors}}{{imgappend}}" ng-click="floorplangallery(projectDetail.id,$index)" alt="{{projectDetail.title}}"></div>
			<h4 class="list-group-item-heading">{{floortitlearray[$index]}}</h4>
			<span ng-click="downloaddata(floors)">[Download]</span>
	   	</a>
	    <hr>
	</div>	 

	<!-- end floorplan-->
	
	<!-- Video -->
	<div ng-show="dvideo">
		<!--<div my-youtube code="code"></div> -->
	</div>
	
   
	
 
	</span>	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>
  	</div>
</div>
