<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
	<div><img src="img/app-logo-rameshwaramgroup.png" class="img-responsive"></div>
		<p></p>	
			
	<form role="form" name="contactform" novalidate>  	
	<p></p>
	
	<div class="form-group">
 	<label for="inputName" class="col-sm-2 control-label radio-label" style="padding-top:15px;">Select Type</label>
 	<div class="col-sm-12">
	 <div class="btn-group search-grp">
        <label class="btn btn-primary search-btn" name="currentActivity2" data-ng-repeat="projecttype in projectType" ng-model="$parent.projectt" btn-radio="'{{projecttype.typeid}}'">{{projecttype.typetitle}}</label>
      
    </div>
	</div>
	</div>	
	
	<div class="form-group">
 	<label for="inputName" class="col-sm-2 control-label radio-label" style="padding-top:15px;">Select Status</label>
 	<div class="col-sm-12">
	<div class="btn-group search-grp">
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'All'">All</label>
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'On Going'">On Going</label>
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'Completed'">Completed</label>
     
    </div>
	</div>
		</div>
	<div class="form-group">
    <div class="col-sm-12 padd-btn1">	
	 <button type="submit" class="btn btn-info btn-color col-sm-2" ng-click="submitSearch()">Search</button>
 	</div>
 	</div>	 	
  </form>
  </span>	
  <div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
  </div>	

  
</div>

</div>
