
<div class="scrollable " >
  	<div class="scrollable-content">
		<span ng-show="!loader">
		
		<div class="fullimg"><img src="img/app-promo.png" class="img-responsive"></div>
		<div class="navbar navbar-app mt5">
    		<div class="btn-group justified">
    			<a ng-click="changeview('info')" class="btn btn-navbar sub-tab" ng-class="{tabactive : info}" >Address</a>
    			<a  class="btn btn-navbar sub-tab " ng-click="changeview('socialmedia')" ng-class="{tabactive : socialmedia}" >Social Connects</a>    			<a  class="btn btn-navbar sub-tab " ng-click="changeview('ratecontent')" ng-class="{tabactive : ratecontent}" >Rate Us</a>
    			
    		</div>
  		</div>	
		<div class="col-xs-12 reach-container" ng-show="info">
		
			<div >
			<h4 class="titleapp">Address </h4>
			<p style="font-weight:bold;margin-bottom:3px">
			F.P. No. 117, B/H Sanjeevkumar Auditorium, <br> Opp. New R.T.O., (Pal),
T.P. No. 14, Pal, <br>Surat (394510), Gujarat, India.<br><br> 
			</p>
			<h4 class="titleapp">Contact </h4>
			<p style="font-weight:bold;">
				<i class="fa fa-phone">&nbsp;&nbsp;</i>+91 7698876989 ,+91 9099293777 <br/>
				<i class="fa fa-envelope">&nbsp;&nbsp;</i>info@shreepadgroup.com 
			</p>
			</div>
		
		</div>
		
		<div class="col-xs-12 reach-container" ng-show="socialmedia">
			<p>
				<div >
				<h4 class="titleapp">Social Connects </h4>
				<a class='social-link' href='' onclick="openlinks('https://www.facebook.com/shreepadgroup')"><i class='fa fa-facebook'>&nbsp;&nbsp;</i><strong>Like Us on Facebook</strong></a><br>
				
			
				</div>
			</p>
		</div>
			
		<div class="col-xs-12 reach-container" ng-show="ratecontent" >
			<div>
				<p class='rate'>Love Shreepad ?
				<br>Click on the stars to rate!<br><a href='' class='heart-red' onclick="openlinks('https://play.google.com/store/apps/details?id=com.prodesignz.shreepadgroup')">
				<i class='fa fa-star'>&nbsp;&nbsp;</i><i class='fa fa-star'>&nbsp;&nbsp;</i>
				<i class='fa fa-star'>&nbsp;&nbsp;</i><i class='fa fa-star'>&nbsp;&nbsp;</i>
				<i class='fa fa-star'>&nbsp;&nbsp;</i>
				</a>
				</p>
				
				<p class='support'><img src='img/app-logo-shreepad.png' alt=''><br>
				&copy; 2014 Shreepad Group. All Rights Reserved.<br>
				<br>App Support : Eastern Techno Solutions<br><i class='fa fa-envelope'>&nbsp;&nbsp;</i>contact@easternts.com</p>
			</div>
		</div>


		</div>
		
		</span>
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	

  	</div>
</div>
