<div class="scrollable">
  	<div class="scrollable-content ">
  	<span ng-show="!loader">			
  	<form  name="subscribeform" role="form" novalidate>
  	<p></p>
  		<div class="form-group">
  			<label class="col-sm-12 control-label">Keep yourself up to date!<br><br>Please fill in this form to signup for important alerts and the latest news.<br><br></label>	
  		</div>
  		<div class="form-group">
    		<label for="inputName3" class="col-sm-2 control-label">Name</label>
   	   	<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="name" name="name" placeholder="* Name" ng-model="formInfo.name" required ng-blur="errorfun('1')">
				   		
    		</div>
    		<span  class= "inerror col-sm-12" ng-show="subscribeform.name.$error.required && nameerror">Please enter the Name</span>  
  		</div>	
  		<div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label ">Email</label>
    		<div class="col-sm-12">
      		<input type="email" class="form-control col-sm-4 formpadd" id="email" name="email" placeholder="* Valid Email Address" ng-model="formInfo.email" required ng-blur="errorfun('2')">
				    		
    		</div>
    		 <span  class= "inerror col-sm-12"ng-show="subscribeform.email.$invalid && emailerror">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail4" class="col-sm-2 control-label">Mobile</label>
    		<div class="col-sm-12">
      		<input type="tel" class="form-control col-sm-4 formpadd" id="mobile" name="mobile" placeholder="* Mobile" ng-model="formInfo.mobile" required ng-blur="errorfun('3')">    		
    		</div>
    		<span  class= "inerror col-sm-12" ng-show="subscribeform.mobile.$error.required && contacterror">Please enter the Mobile No.</span>
  		</div>
		 		
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color sub-btn col-sm-2" ng-click="formInfo.submitTheForm()" ng-disabled="subscribeform.$invalid">Subscribe!</button>
    		</div>
  		</div>
	</form>
	</span>
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
	</div>	

  	</div>
</div>
