<!DOCTYPE html>
<html ng-app="shreepadApp" >
<head>
	<meta charset="utf-8" />
	<title>Shreepad group</title>
	<link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
	<link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link href="animations.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/app.css" />
	
  	<!-- SPELLS -->
  	<script src="js/libs/angular.min.js"></script>
  	<script src="js/libs/angular-route.min.js"></script>
  	<script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
  	<script src="js/libs/ng-storage.js"></script>
  	<script src="js/libs/angular-animate.min.js"></script>
  	<script src="js/libs/mobile-angular-ui.min.js"></script>
	<!--
	<script type="text/javascript" src="cordova.js"></script>
	-->
  	<script src="js/app.js"></script>
	<!--
	<script type="text/javascript" src="js/index.js"></script>
  	-->
</head>
<!-- define angular controller -->
<body >
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"  >
  <h1 class="app-name"><img src="img/menu-foots.png" class="img-responsive" width="36" style="float:left;padding-top:10px">Shreepad Group</h1>

  <div class="scrollable">
    <div class="scrollable-content">
      
			
      <div class="list-group slidemenu" toggle="off" bubble target="mainSidebar"  >
      	<ul>
			<li><h4 class="list-group-item-heading"><i class="fa fa-search"></i>&nbsp;Projects</h4>
				<ul>
					<li><a href="#Project/3">Shreepad Anantta</a></li>	
					<li><a href="#Project/2">Shreepad Antillia</a></li>	
					<li><a href="#Project/1">Shreepad Ethics</a></li>	
				</ul>			
			
			</li>
			<li><a href="#/home"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>	            	
         		<li><a href="#/about"><i class="fa fa-building-o"></i>&nbsp;&nbsp;About Us</a></li>
         		
         		<li><a href="#/news"><i class="fa fa-star"></i>&nbsp;&nbsp;Our Timeline</a></li>
         		
         		<li><a href="#/contact-us"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Inquiry</a></li>
         		<li><a href="#/reach-us"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Reach Us</a></li>
         		
         		
			</ul>
        		
      </div>

      

    </div>
  </div>
</div>
<div class="app">
  <div class="sub-navbar navbar-app navbar-absolute-top " ng-show="!defaultheader">
     <div class="navbar-brand navbar-brand-center sub-mt" id="sub-title" >
       
     </div>
      
  </div>
  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top" ng-show="defaultheader">

     <div class="navbar-brand navbar-brand-center" id="brand-title" yield-to="title" >
        <!--<img src="img/logo.png" alt=""  > -->
	
     </div>
    
	<div class="btn-group pull-left" >
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"  >
          <i class="fa fa-bars fa-navbar" ></i>
        </div>
     </div>
	<div class="btn-group pull-right">
        <a href="#/home" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
     </div>
  </div>

 <div class="app-body">
	<ng-view class="app-content"></ng-view>
  </div>
  
   	<div class="navbar navbar-app navbar-absolute-bottom" ng-show="innerfooter">
    		<div class="btn-group justified">
      		
      		<a href="#ProjectSelect" class="footertext" style="border-right:1px solid #fefefe" ><i class="fa fa-home"></i> &nbsp;&nbsp;Projects</a> 
      		<a href="#/reach-us" class="footertext"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Contact Us</a>
    		</div>
  	</div>
	<div class="navbar-app navbar-absolute-bottom subscribe-footer" ng-show="!innerfooter" >
    	</div>
  	
 
</div>
</body>
</html>
